.gradle/4.4/fileHashes/fileHashes.lock
.idea/workspace.xml
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/caches/build_file_checksums.ser
onilearn.iml
local.properties
app/app.iml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Gradle__com_android_support_transition_27_1_1.xml
.idea/libraries/Gradle__com_android_support_test_runner_1_0_2.xml
.idea/libraries/Gradle__com_android_support_test_monitor_1_0_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_3_0_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_3_0_2.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_v4_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_media_compat_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_compat_27_1_1.xml
.idea/libraries/Gradle__com_android_support_recyclerview_v7_27_1_1.xml
.idea/libraries/Gradle__com_android_support_design_27_1_1.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_0.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1.xml
.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0.xml
.idea/libraries/Gradle__android_arch_core_runtime_1_1_0.xml
.idea/gradle.xml
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/4.4/javaCompile/taskJars.bin
.gradle/4.4/javaCompile/taskHistory.bin
.gradle/4.4/javaCompile/javaCompile.lock
.gradle/4.4/javaCompile/classAnalysis.bin
.gradle/4.4/javaCompile/jarAnalysis.bin
.gradle/4.4/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/cache.properties
